Repository IU-Capstone-Project-2025/ProjectOR, pull requests merged in 2025-06, with the labels that each got.

#2 🎉 Add initial repository structure
  .gitignore
  README.md
  backend/README.md
  docs/README.md
  frontend/README.md
Labels: documentation, backend, frontend

#11 :memo: Add report images
  docs/images/README.md
  docs/images/photo_2025-06-11_21-54-42.jpg
Labels: documentation

#43 💄 Add Figma designs
  docs/designs/README.md
  docs/designs/low-fi.fig
  docs/designs/low-fi.png
Labels: frontend

#45 ✨ Implement skeleton components/pages
  docs/design/README.md
  docs/design/components/avatar.png
  docs/design/components/button.png
  docs/design/components/card.png
  docs/design/components/input.png
  docs/design/components/label.png
  docs/design/components/skeleton.png
  docs/design/low-fi.fig
  docs/design/low-fi.png
  docs/design/pages/demo_main_page.png
  docs/design/pages/login.png
  docs/design/pages/register.png
  frontend/eslint.config.js
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app.css
  frontend/src/lib/assets/projector_logo.jpg
  frontend/src/lib/components/skeletons/ProjectSkeleton.svelte
  frontend/src/lib/components/ui/avatar/avatar-fallback.svelte
  frontend/src/lib/components/ui/avatar/avatar-image.svelte
  frontend/src/lib/components/ui/avatar/avatar.svelte
  frontend/src/lib/components/ui/avatar/index.ts
  frontend/src/lib/components/ui/button/button.svelte
  frontend/src/lib/components/ui/button/index.ts
  frontend/src/lib/components/ui/card/card-action.svelte
  frontend/src/lib/components/ui/card/card-content.svelte
  frontend/src/lib/components/ui/card/card-description.svelte
  frontend/src/lib/components/ui/card/card-footer.svelte
  frontend/src/lib/components/ui/card/card-header.svelte
  frontend/src/lib/components/ui/card/card-title.svelte
  frontend/src/lib/components/ui/card/card.svelte
  frontend/src/lib/components/ui/card/index.ts
  frontend/src/lib/components/ui/input/index.ts
  frontend/src/lib/components/ui/input/input.svelte
  frontend/src/lib/components/ui/label/index.ts
  frontend/src/lib/components/ui/label/label.svelte
  frontend/src/lib/components/ui/skeleton/index.ts
  frontend/src/lib/components/ui/skeleton/skeleton.svelte
  frontend/src/lib/utils.ts
  frontend/src/routes/+layout.ts
  frontend/src/routes/+page.svelte
  frontend/src/routes/app/+layout.svelte
  frontend/src/routes/app/+page.svelte
  frontend/src/routes/auth/+layout.svelte
  frontend/src/routes/auth/login/+page.svelte
  frontend/src/routes/auth/register/+page.svelte
  frontend/svelte.config.js
Labels: frontend
